.container{
	max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid;
    border-bottom-color: #e0cbcb94;
}
.section{
	height: 100%;
	width: 100%;
	background: #fdf8f2;
}
.col-4{
	width: 33.333%;
}
.contactinfo{
	list-style-type: none;
}
.row{
	display: flex;
}
.col-12{
	width: 100%;
    margin: auto;
    padding: 25px 0px;
}
.toplevelmenu{
	 padding: 15px 0px;
}
.logo{
	text-align: center;
	margin-top: 10px;
	color: #ff7d68;
}
.search{
	text-align: right;
	margin-top: 24px;
	color: #ff7d68;
	font-size: 20px;
	padding-right: 50px;

}
.searchicon{
    padding-right: px;
    width: 30px;
    height: 30px;
}
body{
	margin: 0px;
	height: 100%;
	width: 100%;
	background: #fdf8f2;

}
.menu{
    list-style-type: none;
    text-align: center;
}
.topmenu{
	display: inline-block;
    padding-right: 30px;
    color: #b19696;
    position: relative;
}
.banner{
	width: 100%;
	height:400px;
	margin-top: -32px;
}
h1{
	padding-top: 50px;
	color: #fdf8f2;
	padding-left: 50px;
	font-size: -webkit-xxx-large;
}
h4{
	text-align: left;
    margin-left: 9px;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-size: 
}
h6{
	color: #fdf8f2;
    padding-left: 50px;
    font-size: initial;
}
button{
	padding: 16px 32px;
    margin-left: 53px;
    margin-top: 50px;
}
.col-6{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}
.offercontent{
	

}
.offer{
	display: flex;
}
.offerheader{
	color: #505050;
    margin-top: -60px;
    padding-right: 100px;
    text-align: left;
    margin-left: -43px;
}
.dropdown{
        margin-left: -87px;
        text-align: left;
}
.subtitle{
	margin-right: 350px;
}
.submenu{
	display: none;
	/*list-style-type: none;
	text-align: left;
	position: absolute;*/
}
.topmenu:hover .submenu{
	display: block;
	list-style-type: none;
	text-align: left;
	position: absolute;
	    width: 170px;
    padding: 0px;
    background: #716e6ebd;
    color: white;
}
.submenu-li {
padding: 6px 5px;
}
.submenu-li:hover {
	color: red;
}
.col-3{
	width: 25%;
}
.contact{
	border-bottom: none;
}
.comment{
	height: 45px;
    width: 80%;
}
.form-row{
	padding: 10px 0px;
	display: flex;
}
.enquiry{
	    margin-top: 10px;
    padding: 7px 22px;
}
.form-size{
	width: 80%;
}
.col-8 {
	width: 67.77777%;
}
.col-9{
	width: 75%;
}
.choosefile{
	    margin-right: 198px;
}
a{
	text-decoration: none;
    color: #b19696;
}
.border1{
	border-bottom: 1px solid;
	margin-top: 20px;
    margin-left: 10px;
    width: 95%;
    margin-bottom: 34px;
    border-bottom-color: #e0cbcb94;
}
.sub1{
	font-size: 21px;
}
.border2{
	border-bottom: 1px solid;
	margin-top: 20px;
    margin-left: 10px;
    width: 575px;
    margin-bottom: 34px;
    border-bottom-color: #e0cbcb94;
}
.border3{
	border-bottom: 1px solid;
	margin-top: 20px;
    margin-left: 10px;
    width: 575px;
    margin-bottom: 34px;
    border-bottom-color: #e0cbcb94;
}
.subtitle2{
	margin-right: 325px;
	margin-top: 50px;
}
.box-icon-creative{
	border: 1px solid;
    color: #e0cbcb94;
    padding: 70px;
}
.widgets{
    width: 33.5%
    
}
.space{
	width: 1.5%;
}
